.footerSticky {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  background-color: black;
  align-content: center;
  font-family: '"Helvetica Neue, sans-serif';
  color: white;
}

.footerStickyNew{
    background-color: #000;
    font-size: 13px;
    line-height: 1;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    position: fixed;
    bottom : 0;
    width : 100%;
    z-index: 1;
}